table {
    width: 80%;
    text-align: left;
    border-spacing: 0 0.5rem;
    margin: 0 auto;
}

table thead th {
    background-color: #fff;
    color: #000;
    opacity: 0.9;
    padding: 1em;
    font-size: 1em;
}

table tbody tr:first-child {
    margin-top: 18px;
}

table tbody td {
    background-color: #fff;
    color: #83889A;
    padding: 1.3em;
    animation: slideTd 1.2s;
}

@keyframes slideTd {
    from {
        transform: translateY(50px);
    }
    to  {
        transform: translateY(0px);
    }
}

.icon-delete {
    cursor: pointer;
}
.icon-delete:hover {
    opacity: 0.9;
}